aiofiles==0.4.0
attrs==19.1.0
bleach==3.1.1
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
gunicorn==19.7.1
httptools==0.0.13
idna==2.8
ipython-genutils==0.2.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
MarkupSafe==1.1.1
mistune==0.8.4
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
pandocfilters==1.4.2
Pygments==2.4.2
pyrsistent==0.15.2
requests==2.22.0
sanic==19.3.1
Sanic-Cors==0.9.8
six==1.12.0
testpath==0.4.2
traitlets==4.3.2
ujson==1.35
urllib3==1.25.3
uvloop==0.12.2
webencodings==0.5.1
websockets==6.0
