<!DOCTYPE html>
<html>

<head>
  <style>
    body,
    h3 {
      color: #333f52;
      font-family: "Montserrat", sans-serif;
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
      -webkit-font-smoothing: antialiased;
    }

    p {
      font-size: 15px;
    }
  </style>
  <h3>
    Terra’s Preview Service has encountered an error rendering this file.
  </h3>
</head>

<body>
  <p>
    <strong>Message:</strong> {{error}}
  </p>

  <p>
    To generate a shareable preview file in RStudio, you can use RStudio's "Knit" button as detailed <a
      href="https://rmarkdown.rstudio.com/authoring_quick_tour.html#Rendering_Output">here</a>.
    <br>
    For more information, please
    contact Terra Support.
  </p>
</body>

</html>